@font-face {
  font-family: potato;
  src: url(./font/Potato-Chips\ \(1\).otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: potato;
  /* font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
   */
  
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

.main {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("./images/main-bg.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  font-family: potato;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  
  .menu-icon {
    color: #fff;
    font-size: 2rem;
  }
  
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background-color: #ffffff73;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-item > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 5rem;
  margin-top: 1rem;
}

.menu-item > div > input {
  padding: 5px 5px;
  background-color: #dadada;
  color: black;
  outline: none;
  border-radius: 10px;
}

.menu-item > div > i {
  color: black;
  font-size: 1.3rem;
  background-color: #dadada;
  padding: 2px 5px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  z-index: 11;
  background-color: #fff;
  border-radius: 50%;
  padding: 4px 10px;
}
.menu-item > h2 {
  margin-left: 5rem;
  font-size: 2rem;
  margin-top: 1rem;
}

.headings {
  position: absolute;
  width: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  height: 100px;
  width: 100px;
  background-color: #e5f0d6;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
}

footer {
  min-height: 80vh;
  width: 100vw;
  background-image: url("./images/—Pngtree—orange\ fresh\ snacks\ fries\ potato_1102989.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/*--------------------- tastymonials section-----------------------------------*/

@media (max-width: 600px) {
  .menu {
    width: 100%;
  }

  nav {
    padding: 1.5rem;
  }

  nav > img {
    width: 40%;
  }

  .menu > .menu-item > h2 {
    font-size: 1.5rem;
    margin-left: 2rem;
  }

  .menu > .menu-item > div {
    margin-left: 2rem;
  }
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  position: sticky;
  top: 0;
  font-size: 3rem;
}

.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  cursor: pointer;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
  left: 50%;
  margin-top: 10px;
  transform: translate(-50%);
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,
.text,
.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0;
}

.text,
.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,
.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

.bestSellingProduct {
  background-color: white;
  padding: 50px 0px 70px 0px;
}

.product_Tiltle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 2px solid rgb(70, 68, 68);
  margin: 0 4rem;
  margin-bottom: 50px;
}

.product_Tiltle h2 {
  font-size: 40px;
}

.product_Tiltle .filter {
  font-size: 20px;
  font-weight: 600;
}

.product_Tiltle input {
  width: 30%;
  outline: none;
  padding: 0 5px;
  font-weight: lighter;
  font-size: 1.2rem;
  border-radius: 10px;
}

.border {
  border: 2px solid white;
}

.productOne {
  width: 15rem;
  padding: 20px 40px;
  border-radius: 20px;
  height: 350px;
  margin-top: 5rem;
  transition: 0.5s;
}

.productOne:hover {
  background-color: #f6c292;
  border: 2px solid black;
}

.productOne:hover > .productImage {
  scale: 20deg;
}

.productOne img {
  width: 85%;
  position: relative;
  top: -120px;
}

.about_product {
  position: relative;
  top: -110px;
}

.productList {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  flex-wrap: wrap;
}

.combo {
  font-size: 20px;
  font-weight: bolder;
  line-height: 50px;
  text-align: center;
}

.price {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
  text-align: center;
}

.adding {
  color: red;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  /* margin-top: px; */
}

.adding span {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 30px;
  padding: 0 50px;
}

.btn_cart {
  color: white;
  border: none;
  font-size: 20px;
  padding: 7px 30px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgba(255, 189, 20, 1);
  margin-left: 40px;
}

.btn_cart:hover {
  background-color: red;
}

@media (max-width: 576px) {
  .product_Tiltle h2 {
    font-size: 28px;
  }

  .product_Tiltle .filter {
    display: none;
  }

  .product2 {
    margin-top: 8rem;
  }
}

@media (max-width: 768px) {
  .productOne {
    padding: 20px 15px;
  }

  .product_Tiltle h2 {
    margin-left: 20px;
  }

  .product3 {
    margin-top: 8rem;
  }
}

@media (min-width: 992px) {
  .productOne {
    padding: 20px 25px;
  }
}

.video-contanier {
  min-height: 80vh;
  width: 100%;
  padding: 1vw;
  position: relative;
}

.video-contanier > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video-contanier > h2 {
  font-size: 2vw;
  position: absolute;
  background-color: white;
  color: #000;
  padding: 2vw 1vw;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 400;
  scale: 0;
  opacity: 1;
}

@media (max-width: 600px) {
  .video-contanier {
    margin-top: 1vw;
    min-height: 30vh;
    width: 100%;
    padding: 1vw;
    position: relative;
  }
}

.sponser {
  width: 100%;
  height: 30rem;

  text-align: center;
  padding-top: 3rem;
  font-size: 3rem;
}
.sponser h2 {
  border-bottom: 2px solid black;
}

.img-container {
  width: 60vw;
  height: 50vh;
  margin: 0 auto;
  gap: 3.8rem;
}

@media (max-width: 600px) {
  .sponser {
    width: 100%;
    height: 60rem;

    text-align: center;
    padding-top: 6rem;
    font-size: 2rem;
  }
  .img-container {
    gap: 1.5rem;
  }
}

#slideshow {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.card {
  position: sticky;
  top: 100px;

}

.card__inner {
  will-change: transform;
  background: white;
  border-radius: 14px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px hsla(265.3, 20%, 10%, 35%);
  transform-origin: center top;
}
.card__inner h4{
  
  padding-left: 24rem;
}

.cards {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(var(--cards-count), var(--card-height));
  gap: 40px 0;
}

.card h4{
  color: black;
}
.container-slider{
  color: #ffe5b0d2;
  background-color: #16263a;
}


.card__content {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

.card__title {
  /* padding-left: 10rem;   */

  font-size: 30px;
  font-weight: 600;
  color: #16263a;
}

.card__description {
  line-height: 1.4;
  font-size: 20px;
  color: #16263a;
}

.space {
  height: 60vh;
}

.space--small {
  height: 40vh;
}

.reviewimg {
  width: 12vw;
  height: 4vw;
  margin-right: 10rem;
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
  position: sticky;
  top: 0;
  font-size: 3rem;
}


.des-menu-item:hover{
color:#f6c292
}