* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

h1 {
    position: absolute;
    width: 50%;
    transform: translate(-50% , -50%);
}




footer {
  min-height: 80vh;
  width: 100vw;
  background-image: url("./images/—Pngtree—orange\ fresh\ snacks\ fries\ potato_1102989.jpg");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
